**/bin/
**/obj/
.vs/
.vscode/
.idea/
.angular/
TestResults/
artifacts/
benchmarks/baselines/**/*.log
benchmarks/baselines/**/*-report.csv
benchmarks/baselines/**/*-report.html
coverage/
*.user
*.suo
*.nupkg
*.snupkg
.env
node_modules/
clients/*/dist/
applications/web/*/dist/
applications/web/*/.angular/
applications/web/*/*.tsbuildinfo
